<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS-Chat</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="chat">
    </div>
    <div class="input">
        <textarea id="content-in"></textarea>
        <input type="button" value="send" onclick="send()">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        console.log(token);

        // Connect to the server with the JWT token
        const socket = io("http://localhost:3000?token=" + token);
        let messages = new Array();

        let data = {
            time: "",
            userName: "",
            content: ""
        }

        // Get token from url parmas



        getPast();
        
        socket.on('serverMessage', async (msg, callback) => {
            console.log("msg",msg);
            messages.push(msg)
            console.log(messages);
            updateMessages();
        });

        socket.on('serverReturn', async (msg, callback) => {
            console.log("array",msg);
            messages = msg;
            updateMessages();
        });

        // Optional: Handle connection errors
        socket.on("connect_error", (error) => {
            console.error("Socket.IO Connection Error:", error);
        });

        // Optional: Define what happens when the connection is disconnected
        socket.on("disconnect", () => {
            console.log("Socket.IO connection disconnected");
        });

        function send() {
            console.log("send");
            let content = document.getElementById("content-in");
            let date = new Date();
            
            data.content = content.value;
            data.time = new Date();
            socket.emit('message', data);
        }

        function getPast() {
            socket.emit('getPast')
        }

        function formatTime(time) {
            if (String(time).length == 1) {
                return "0" + time;
            } 
            return String(time);
        }

        function updateMessages() {
            chat = document.getElementById("chat")
            chat.innerHTML = ""
            messages.forEach((message) => {
                //chat.innerHTML += "<p>" + message.time + " " + message.user + " " + message.content + "</p>";

                let messageDiv = document.createElement("div");
                messageDiv.classList = "message";

                let timestamp = document.createElement("p");
                timestamp.classList = "time";
                messageTime = new Date(message.time);
                timestamp.innerText = messageTime.getMonth() + "." 
                    + messageTime.getDate() + " " 
                    + formatTime(messageTime.getHours()) + ":" 
                    + formatTime(messageTime.getMinutes()) + ":" 
                    + formatTime(messageTime.getSeconds());

                let user = document.createElement("p");
                user.innerText = message.userName;
                user.classList = "user";

                let content = document.createElement("h3");
                content.innerText = message.content;
                user.message = "content";

                let pfp = document.createElement("img");
                pfp.classList = "pfp"
                pfp.src = "/img/pfp.webp"

                let left = document.createElement("div");
                left.classList = "left";

                let right = document.createElement("div");
                right.classList = "rigth";

                let title = document.createElement("div");
                title.classList = "title";
                
                left.appendChild(pfp);
                title.appendChild(user);
                title.appendChild(timestamp);
                right.appendChild(title);
                right.appendChild(content);
                messageDiv.appendChild(left);
                messageDiv.appendChild(right);
                chat.appendChild(messageDiv)
            })
        }

    </script>
</body>
</html>