<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS-Chat</title>
    <link type="text/css" href="style.css">
</head>
<body>
    <!-- <script src="ejs.js"></script> -->
    <div class="chat">
        <%- include('../www/messages'); %>
    </div>
    <div class="input">
        <input type="text" id="user-in">
        <input type="text" id="content-in">
        <input type="button" value="send" onclick="send()">
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();


        socket.on('serverMessage', async (msg, callback) => {
            console.log("msg",msg);
            // Display the incoming message
            let chat = document.querySelector('.chat');
            let message = document.createElement('div');
            message.innerHTML = `<p>${msg.time} - <strong>${msg.user}</strong>: ${msg.content}</p>`;
            chat.appendChild(message);
        });

        // Optional: Handle connection errors
        socket.on("connect_error", (error) => {
            console.error("Socket.IO Connection Error:", error);
        });

        // Optional: Define what happens when the connection is disconnected
        socket.on("disconnect", () => {
            console.log("Socket.IO connection disconnected");
        });

        let data = {
            time: "",
            user: "",
            content: ""
        };



        function send() {
            let user = document.getElementById("user-in");
            let content = document.getElementById("content-in");
            let date = new Date();
            
            data.user = user.value;
            data.content = content.value;
            data.time = new Date();
            socket.emit('message', data);
        }


    </script>
</body>
</html>