<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS-Chat</title>
    <link type="text/css" href="style.css">
</head>
<body>
    <div class="card">
        <h1>WS-Chat</h1>
        <h4>Prosím vyber si jméno bro.</h4>
    
        <form action="/init" method="post">
            <input type="text" name="user" id="user-in">
            <input type="submit" value="Odeslat">
        </form>
    </div>
</body>
</html>