<div class="message" id="<%= message.user %>::<%= message.time %>">
    <div class="time"></div>
    <div class="user"><%= message.user %></div>
    <div class="content"><%= message.content %></div>
    
</div>